*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";

}
html,body{
    width: 100%;
    height: 100%;
    }

    
#main{
    width: 100%;
}



#loader{
    /*display: none;*/
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    background-color: #111;
    color: #fff;    
    }

#loader #topheading{
    text-align: center;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4vw;
    font-weight: 500;

}

#topheading h5{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}
#loader h1{
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6vw;
    font-weight: 500;
}
#loader h1 span{
    font-family: "Mazius review";
}

    

.reveal .parent{
    overflow-y: hidden;
    justify-content: center;
    display: flex ;
    width: 100%;
}
.reveal .parent .child{
    display: block;
}
.parent .child span{
    display: inline-block;
}
#green{
    /*display: none;*/
    position: absolute;
    top:100% ;
    width: 100%;
    height: 100vh;
    background-color: #14cf93;
    z-index: 9999;
}
#home{
    width: 100%;
    height: 115vh;
    background-color:#F2F2F2;
}
@media (max-width: 500px) {
    #home {
        color: #F2F2F2;
        background-color:#242222;
        height: 100vh;
    }
  }
    

#home #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
    width: 100%;
    height: 100px;
}
#nav a{
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size:12px;
    color: black;
}
@media (max-width: 500px) {
    #nav a {
        color: #F2F2F2;
    }
  }
#nav a .line{
    height:1.2px;
    background-color:black ;
    display: inline-block;
    position: absolute;
    bottom: 0;

}
@media (max-width: 500px) {
    #nav a .line {
        background-color: white
    }
  }
#line1{
    left: 0;
    width: 0%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .7s 1s;
    transition-delay: .2s;
}
#line2{
    right: 0;
    width: 100%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
#nav a:hover #line2{
    width: 0;
}
#nav a:hover #line1{
    width: 100%;
}
.row{
   display: flex;
   justify-content: space-between;
   width: 100%;
   color: #333;
   padding: 0 7vw;
   line-height: 1;
   padding-right: 12vw;
   align-items: center;
   font-weight: 1000;

}
@media (max-width: 500px) {
    .row {
        color: #F2F2F2;
    }
  }
.row h1{
    font-size: 8vw;
    font-weight: 1600;
    white-space:nowrap;
}

@media (max-width: 500px) {
    .row h1 {
    font-size: 10vw;        
    }
  }

.row .text{
    margin-top: 0vw;
}

.row h5{
    opacity: 0.6;
    font-size: 10px;
    font-weight: 500;
    
}
@media (max-width: 500px) {
    .row h5 {
        font-size: 7px;
        align-items: center;
    }
  }

.row:nth-child(3) {
    margin-top: 0;
}

path, polyline{
    stroke: #14cf93;
}
#imagery{
    margin-top: 18vw;
    width: 100%;
    padding: 5vw 7vw;
    /*background-color: yellow;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#imagery #imglef{
    width: 38%;
    height: auto;
    /*background-color: red;*/
}
#imglef h1{
    font-weight: 500;
    letter-spacing: 0.2px;
    font-size: 2.4vw;
    color: #333;
}
@media (max-width: 500px) {
    #imglef h1 {
        color: #F2F2F2;
    }
  }
#imglef h1 span{
    color: #14cf93;
    font-style: italic; 
    font-family: "Mazius Review 20.09";
    font-weight: 600;
}
#imgrig{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 50%;
    height: 250px;
    /*background-color: yellow;*/
}
#imgrig .imgcntnr:hover{
    filter: grayscale(0);
}
#imgrig .imgcntnr{
    position: absolute;
    width: 30vw;
    height: 45vw;
    border-radius: 1vw;
    filter: grayscale();
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;
}

#imgrig .imgcntnr:nth-child(1){
    transform: translate(-40%, -8%) rotate(-20deg);
    background-image: url(my_pic1.jpg);
    background-size: cover;
    background-position: center;
    z-index: 1;
}
#imgrig .imgcntnr:nth-child(2){
    transform: translate(-15%, 0%) rotate(-15deg);
    background-image: url(my_pic7.jpg);
    background-size: cover;
    background-position:center;
    z-index: 1;
}
#imgrig .imgcntnr:nth-child(3){
    transform: translate(20%, 10%) rotate(-5deg);
    background-image: url(my_pic2.jpg);
    background-position: center;
    background-size: cover;
    z-index: 1;
}

#work {
    padding-top: 150px;
    width: 100%;
    min-height: 50vh;
    background-color: #F2F2F2;
    position: relative;
}

@media (max-width: 500px) {
    #work {
        padding-top: 20px;
        color: #111;
    }
  }
#work::before {
    content:"";
    width: 100%;
    height: 150px;
    transform: rotate(-180deg);
    position: absolute;
    background-image: url(http://abhishekjha.me/rip.f6d7c4dd.svg);
    background-size: cover;
    top: -100px;
}

#work .workrow{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12vw;
}
.workrow h1{
    font-size: 7vw;
    font-weight: 1100;
    display: flex;
    align-items: baseline;

}
#work .workrow span{
    color: #14cf93;
    font-style: italic; 
    font-family: "Mazius Review 20.09";
    font-weight: 500;
}

.workrow h1 .mini{
    font-size: 2vw;
    font-weight: 1000;
    margin-left: 2vw;
}

.o-ui-arrow {
    transform: rotate(90deg);
    width: 5vw;
}

.o-ui-arrow path{
    stroke: rgb(158, 158, 158);
}

#images{
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    margin-top: 6vw;
    width: 100%;
    position: relative;
    padding: 5vw 5vw;
}
.cnt{
    overflow: hidden;
    border-radius: 25px;
}

.cnt img{
    
    width: 100%;
    scale: 110%;
    
}
.cnt1{
    width: 55%;
}

.cnt2{
    width: 25%;
    height: 25vw;
}
#footer {
    height: 25vh;
    width: 100%;
    background:linear-gradient(to left bottom,#14cf93, white);
    position: relative;
    display: flex ;
    align-items: center;
    justify-content:space-between;
    gap: 5vw;
    padding: 0 5vw;
}
@media (max-width: 500px) {
    #footer {
        height: 10vh;
    }
  }

#footer>img {
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 0;
}
#f1 img{
    height: 10vw;

}
#f1,#f2,#f3,#f4{
    width: fit-content;
    position: relative;
    z-index: 2;
}
#f3 h3 , #f2 h3{
    font-size: 10px;
    color: black;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    margin-bottom: 8px;
}
@media (max-width: 500px) {
    #f3 h3, #f2 h3 {
        font-size: 1.5vw;
    }
  }
#f4 h3{
font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    margin-bottom: 2vw;
    margin-left: 10vw;
}
@media (max-width: 500px) {
    #f4 h3 {
        font-size: 1vh;
        margin: 0vw 2vw 0vw 2vw;
        
    }
  }